<!doctype html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Welcome to twig</h1>

        <h2>DAMN RIGHT ERROR - YOU FAILED TO PROVIDE ?show_me=1</h2>
    </body>
</html>